#App-title {
  text-align: center;
}
.App {
  margin-left: 5%;
  margin-right: 5%;
}
.border{
  border: 1px solid black;
}
button{
  margin-right:3%;
  border-radius: 15%;
  border:black,1px ;
}

textarea{
  height: 100px;
  width: 300px;
  margin: auto;
}